#box-container {
    display:grid;
    position:relative; 
    border: 1px solid green;
    width:fit-content;
}

.box {
    border-color: black;
    width: 30px;
    height: 30px;
}

.box-hover{
    background: black;
    width: 30px;
    height: 30px;
}

